/* ========== GOOGLE FONTS ========== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
    font-family: "Poppins", sans-serif;
    transition: background-color 0.3s, color 0.3s; /* Add transition for smooth color change */
}

/* Dark Mode Styles */
.dark-mode {
    background-color: #111;
    color: #ecf0f1;
}

.dark-mode .nav-link {
    color: #ecf0f1;
}

.dark-mode .navbar-brand {
    color: #ecf0f1;
}

/* Toggle Switch Styles */
.checkbox {
    display: none;
}

.switch {
    background-color: #fff;
    border-radius: 50px;
    border: .1px solid #000000;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 27px;
    width: 50px;
    transform: scale(0.7);
    transition: background-color 0.3s; /* Add transition for switch background color */
}

/* Dark mode switch color */
.dark-mode .switch {
    background-color: #fff;
}
/* Underline Styles for Navbar Links in Dark Mode */
.dark-mode .navbar-nav .nav-link::before {
    background-color: #fff; /* White underline color in dark mode */
    transition: right 0.3s ease, background-color 0.3s ease; /* Add transition for underline */
}
.switch .ball {
    background-color: #111;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .switch .ball {
    transform: translateX(24px);
}

/* Moon and Sun Icons */
.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

/* Responsive Font Size */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/* Social Media Icons */
.social .media {
    border: none;
}

.social .media:focus {
    border: none;
    box-shadow: none;
}

/* Button Focus Styles */
.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
    border: none !important;
}

/* Page Structure */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* Navigation Icon Animation */
#nav-icon {
    width: 26px;
    height: 26px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: #4b4b4b;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
    top: 1px;
}

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
    top: 9px;
}

#nav-icon span:nth-child(4) {
    top: 17px;
}

#nav-icon.open span:nth-child(1) {
    top: 13px;
    width: 0%;
    left: 50%;
}

#nav-icon.open span:nth-child(2) {
    transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
    transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
    top: 13px;
    width: 0%;
    left: 50%;
}

/* Fade-in Animation */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}

/* Slide-in Animation */
.slide-in-left {
    transform: translateX(-100%);
    transition: transform 0.5s ease;
}

.slide-in-left.show {
    transform: translateX(0);
}

.slide-in-right {
    transform: translateX(100%);
    transition: transform 0.5s ease;
}

.slide-in-right.show {
    transform: translateX(0);
}

/* Navbar Link Underline Animation */
.navbar-nav .nav-link {
    color: #333;
    text-decoration: none;
    position: relative;
    transition: color 0.3s ease;
}

/* Navbar Styles for Light Mode */
.navbar {
    background-color: #ffffff; /* Background color for light mode */
    color: #000000; /* Text color for light mode */
}

/* Navbar Toggle Icon Styles for Light Mode */
.navbar-toggler-icon {
    background-color: #000000; /* Color for the navbar toggle icon in light mode */
}

/* Navbar Link Styles for Light Mode */
.navbar-nav .nav-link {
    color: #000000; /* Text color for navbar links in light mode */
}

/* Dark Mode Styles for Navbar */
.dark-mode .navbar {
    background-color: #111; /* Background color for dark mode */
    color: #ecf0f1; /* Text color for dark mode */
}

/* Dark Mode Styles for Navbar Toggle Icon */
.dark-mode .navbar-toggler-icon {
    background-color: #ecf0f1; /* Color for the navbar toggle icon in dark mode */
}

/* Dark Mode Styles for Navbar Links */
.dark-mode .navbar-nav .nav-link {
    color: #ecf0f1; /* Text color for navbar links in dark mode */
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0;
    border: none !important;
}

/* Underline Styles for Navbar Links */
.navbar-nav .nav-link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    height: 3px;
    background-color: #333;
    transition: right 0.3s ease;
}

.navbar-nav .nav-link:hover::before,
.navbar-nav .nav-link.active::before {
    right: 0;
    transition: right 0.3s ease;
}

/* Style for the underline */
.navbar-nav .nav-link .underline {
    height: 3px;
    background-color: #333;
    transition: width 0.3s ease;
}
/* Active Style for Navbar Links */
.navbar-nav .nav-link.active {
    background-color: #fff; /* Background color for active link */
    color: #333; /* Text color for active link */
}

/* Active Style for Navbar Links */
.image-resize {
    width: 45px;
    height: 45px;
}
.hover-image {
    /* Define the initial state for the image */
    transform: scale(1);
    border: none;
    /* Add a CSS transition with a delay of 0.3 seconds (adjust as needed) */
    transition: transform 0.3s ease, border 0.3s ease;
}

.hover-image:hover {
    /* Modify the image on hover */
    transform: scale(1.2); /* Scale the image to 120% on hover */
    box-shadow: none;
}
.fixed-card {
    height: 500px; /* Set the desired fixed height */
}
.card-description, .card-title {
    max-height: 50px; /* Set the maximum height for the description */
    overflow-y: auto; /* Add a vertical scrollbar when the content exceeds the maximum height */
}
.card-description::-webkit-scrollbar, .card-title::-webkit-scrollbar {
    width: 0; /* Set the width to 0 to hide the scrollbar */
}
@media (min-width: 233px) {
    .fixed-card {
        height: 320px; /* Set the desired fixed height */
    }

    .btn {
        font-size: 10px;
    }
}@media (min-width: 272px) {
    .fixed-card {
        height: 340px; /* Set the desired fixed height */
    }
    .btn {
        font-size: 15px;
    }
}
@media (min-width: 294px) {
    .fixed-card {
        height: 370px; /* Set the desired fixed height */
    }

    .btn {
        font-size: 15px;
    }
}
@media (min-width: 367px) {
    .fixed-card {
        height: 400px; /* Set the desired fixed height */
    }

    .btn {
        font-size: 20px;
    }
}@media (min-width: 400px) {
    .fixed-card {
        height: 450px; /* Set the desired fixed height */
    }

    .btn {
        font-size: 20px;
    }
}@media (min-width: 490px) {
    .fixed-card {
        height: 500px; /* Set the desired fixed height */
    }

    .btn {
        font-size: 20px;
    }
}@media (min-width: 768px) {
    .fixed-card {
        height: 600px; /* Set the desired fixed height */
    }
}
@media (min-width: 992px) {
    .fixed-card {
        height: 350px; /* Set the desired fixed height */
    }
    .btn {
        font-size: 12px;
    }
}
@media (min-width: 1200px) {
    .fixed-card {
        height: 400px; /* Set the desired fixed height */
    }
}
/* Apply ellipsis to the description column */
#tblData td:nth-child(2) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

