@model List<Certification>
<div class="card shadow border-0 my-4">
    <div class="card-header bg-success ms-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-3">CERTIFICATION LIST</h2>
            </div>
        </div>
    </div>
    <div class="card-body py-4">
        <div class="row pb-2">
            <div class="col-md-6"></div>
            <div class="col-md-6 text-end">
                <a asp-controller="Certification" asp-action="Upsert" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Create new Certification
                </a>
            </div>
            <div class="table-responsive">
                <table id="tblData" class="table table-bordered table-striped" style="width:100%">
                    <thead>
                        <tr>
                            <th class="text-center">Title</th>
                            <th class="text-center">pdfDocument</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/certification.js"></script>
}