@model EducationCertificationVM

<div class="container">
    <div class="row pt-4">
        <div class="col-12 fade-in show">
            <h3>EDUCATION</h3>
        </div>
    </div>
    <div class="row mt-3">
        @foreach (var education in Model.Educations)
        {
            <div class="col-md-6 col-12 fade-in show">
                <p><strong>School:</strong> @education.SchoolName </p>
                <p><strong>Course:</strong> @education.Course </p>
                <p><strong>Address:</strong> @education.Address </p>
                <hr />
            </div>
        }
    </div>
    <div class="row pt-4">
        <div class="col-12 fade-in show">
            <h3>CERTIFICATIONS</h3>
            <p>List of my Certificates</p>
        </div>
    </div>
    <div class="row">
        @foreach (var certification in Model.Certifications)
        {
            <div class="col-md-6 col-6 fade-in show mb-4">
                <div class="certification-item">
                    <div class="certification-image">
                        <img src="@certification.CertificationImage" alt="Certification Image" class="img-fluid">
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts{
    <script src="~/js/animation.js"></script>
}
