@model Experience

<div class="container-fluid slide-in-left">
    <div class="col-10">
    <h1 class="mt-5 pt-2"><strong>C# .NET <br>DEVELOPER</strong></h1>
    <h5 class="mt-4">Hi! I'm Juniel M. Mundas a passionate software developer from the Philippines</h5>
        
    </div>
    <div class="justify-content-start social text-start">
        <a class="btn btn-primary media hover-image" style="background-color: #3b5998;" href="https://www.facebook.com/mundas26" role="button"><i class="fab fa-facebook-f"></i></a>
        <a class="btn btn-primary media hover-image" style="background-color: #0082ca;" href="https://www.linkedin.com/in/mundas26" role="button"><i class="fab fa-linkedin-in"></i></a>
        <a class="btn btn-primary media hover-image" style="background-color: #333333;" href="https://github.com/mundas26" role="button"><i class="fab fa-github"></i></a>
        <a class="btn btn-primary media hover-image" style="background-color: #ed302f;" href="https://www.youtube.com/channel/UC64eDejNiRsLUSD8rsx6bEw" role="button"><i class="fab fa-youtube"></i></a>
    </div>
    <div class="text-center">
        <img class="w-50 user-select-none" src="~/images/Mundas, Juniel  M-102135.png">
    </div>
    <div>
        <p id="years" class="mt-4"><strong>Experience |</strong> @Model.Years Years & @Model.Months Months</p>
        <p class="user-select-none" style="text-align: justify; text-indent: 50px;">
            Welcome to my website! Here, you'll find a comprehensive overview of my work progress and the journey of self-improvement I've undertaken. My goal is to inspire fellow programmers by sharing valuable insights and ideas to empower them in their program development endeavors.
            Feel free to explore my website anytime; it's a resource open to all. Thank you for visiting, and I wish you endless success in your coding endeavors!
        </p>
        <h6 class="pt-0 pt-4 user-select-none">Contact number: <a href="tel:+639353376348" class="text-decoration-none user-select-none">+639 353 376 348</a></h6>
        <h6 class="pt-0 user-select-none">Email: <a href="mailto:junielmundas26@gmail.com" class="text-decoration-none user-select-none">junielmundas26@gmail.com</a></h6>
    </div>
</div>
@section Scripts{
    <script src="~/js/realtime.js"></script>
}
