@model IEnumerable<Skill>
<div class="container">

    <div class="row">
        <h3>TECHNOLOGIES</h3>
    </div>
    <div class="row slide-in-left">
        @foreach (var certification in Model)
        {
            <div class="col-md-1 col-2 my-4">
                <div class="skill-item text-center">
                    <div class="skill-image">
                        <img src="@certification.StackImage" alt="Certification Image" class="image-resize hover-image">
                    </div>
                    <div class="label">
                        <strong style="font-size: 6px;">
                            @certification.Name
                        </strong>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section Scripts{
    <script src="~/js/animation.js"></script>
}