<div class="card shadow border-0 mt-4">
    <div class="card-header bg-success ml-0">
        <div class="row">
            <div class="col-12 p-2">
                <h2 class="text-white text-center">Education List</h2>
            </div>
        </div>
    </div>
    <div class="card-body py-4">
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6 text-end p-3">
                <a asp-controller="Education" asp-action="Upsert" class="btn btn-primary">
                    <i class="bi bi-plus-circle"></i> Create new Education list
                </a>
            </div>
            <table id="tblData" class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Name of School</th>
                        <th>Course</th>
                        <th>Address</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/education.js"></script>
}